.chat-dialog__messages {
  height: calc(100% - 138px);
  position: relative;
}

.chat-dialog__messages .ant-empty {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.messages {
  height: 100%;
  padding: 20px;
  padding-bottom: 0;
  overflow: auto;
}

.messages--loading {
  display: flex;
  align-items: center;
  justify-content: center;
}
