.dialog-item {
  display: flex;
  padding: 10px 20px;
  margin-bottom: 0;
  cursor: pointer;
}

.dialog-item:hover {
  background-color: #f3f7ff;
}

.dialog-item__avatar {
  position: relative;
  flex: 0 0 40px;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.dialog-item__image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.dialog-item--online .dialog-item__avatar::before {
  display: block;
  position: absolute;
  bottom: -2px;
  right: 0;
  content: '';
  background-color: #00c980;
  border-radius: 30px;
  width: 13px;
  height: 13px;
  border: 3px solid #fff;
}

.dialog-item-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.dialog-item-info__top {
  display: flex;
}

.dialog-item-info__top b {
  font-weight: 500;
  font-size: 14px;
  flex: 1;
}

.dialog-item-info__top span {
  opacity: 0.5;
}

.dialog-item-info__bottom {
  position: relative;
}

.dialog-item-info__bottom p {
  opacity: 0.7;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 220px;
  height: 1.2em;
  white-space: nowrap;
  margin-bottom: 0;
}

.dialog-item-info__count {
  position: absolute;
  right: 0;
  bottom: 0;
  background: #f46b6b;
  color: #fff;
  font-weight: bold;
  width: 100%;
  min-width: 18px;
  max-width: 22px;
  height: 18px;
  border-radius: 30px;
  font-size: 11px;
  text-align: center;
  line-height: 17px;
  box-shadow: 0 0 0px 3px #fff;
}

.dialog-item .message__icon--readed {
  position: absolute;
  bottom: 0;
  left: auto;
  right: 0;
}

.dialog-item--selected,
.dialog-item--selected:hover {
  background-color: #1890ff;
  color: #ffffff;
}
