@import '~reset-css/reset.css';
@import '~antd/dist/antd.css';
@import 'emoji-mart/css/emoji-mart.css';

* {
  outline: none;
}

body {
  background-color: #f4f7fd;
}

html,
body,
#root,
.wrapper {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  height: 100%;
  color: #202020;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.ant-btn-circle {
  border: none;
  box-shadow: none;
  color: #202020 !important;
  opacity: 0.4;
}

.ant-btn-circle:hover {
  opacity: 1;
}

.ant-btn-circle:after {
  display: none;
}
