.message-content {
  display: flex;
  max-width: 440px;
  margin-bottom: 20px;
  position: relative;
}

.message-avatar {
  display: flex;
  flex-direction: column-reverse;
}

.message-avatar .avatar {
  border-radius: 50%;
  width: 33px;
  height: 33px;
  margin-right: 13px;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 31px;
}

.message__bubble {
  background-color: #3674ff;
  box-shadow: 0 5px 5px rgba(54, 116, 255, 0.19);
  border-radius: 12px 12px 12px 0px;
  padding: 15px;
  margin-bottom: 2px;
}

.message__text {
  color: #ffffff;
  line-height: 20px;
  margin: 0;
}

.message__date {
  font-size: 12px;
  opacity: 0.5;
}

.message-typing span {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: #a6bdf0;
  display: inline-block;
  margin-right: 8px;
  animation: 0.8s typingAnimation infinite ease-out 0.1s;
}

.message-typing span:nth-of-type(2) {
  animation: 0.8s typingAnimation infinite ease-out 0.2s;
}

.message-typing span:nth-of-type(3) {
  animation: 0.8s typingAnimation infinite ease-out 0.3s;
  margin-right: 0;
}

.message-attachments {
  display: flex;
  margin-bottom: 5px;
}

.message-attachments__item {
  margin-right: 5px;
  cursor: pointer;
}

.message-attachments__image {
  width: 45px;
  height: 45px;
  border-radius: 8px;
}

.message__icon--readed {
  position: absolute;
  bottom: 22px;
  left: -25px;
}

.message__icon--no-readed {
  left: -20px;
}

.message--isme {
  display: flex;
  flex-direction: row-reverse;
}

.message--isme .message-content {
  margin-bottom: 15px;
  flex-direction: row-reverse;
}

.message--isme .message-avatar__image {
  margin-right: 0;
  margin-left: 13px;
}

.message--isme .message-info {
  text-align: right;
}

.message--isme .message__bubble {
  background-color: #ffffff;
  border: 1px solid #ececec;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.022);
  border-radius: 12px 12px 0px 12px;
}

.message--isme .message__text {
  color: #202020;
}

.message--is-typing .message__bubble {
  padding: 15px 18px;
  margin-bottom: 0;
}

.message--image .message-attachments__image {
  width: 150px;
  height: 150px;
}

.message--is-audio audio {
  display: none;
}

.message--is-audio .message__bubble {
  position: relative;
  width: 280px;
  overflow: hidden;
}

.message-audio-info {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.message-audio-info__button button {
  border: 0;
  cursor: pointer;
  background-color: #0f3997;
  width: 28px;
  height: 28px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message-audio-info__button button img {
  height: 13px;
}

.message-audio-info__duration {
  font-size: 12px;
  opacity: 0.5;
  font-weight: 500;
  color: #ffffff;
}

.message-audio__progress {
  position: absolute;
  background-color: #418fff;
  width: 40%;
  height: 100%;
  left: 0;
  bottom: 0;
  transition: width 0.5s ease;
}

@keyframes typingAnimation {
  from {
    opacity: 0.2;
    transform: translateY(0px);
  }
  50% {
    opacity: 0.5;
    transform: translateY(-1.5px);
  }
  to {
    opacity: 1;
    transform: translateY(-1px);
  }
}
